/* 页面逻辑的样式 */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

@-webkit-keyframes rock {
    0% {
        transform: rotate(0deg)
    }
    5% {
        transform: rotate(3deg)
    }
    10% {
        transform: rotate(-4deg)
    }
    15% {
        transform: rotate(3deg)
    }
    20% {
        transform: rotate(-2deg)
    }
    25% {
        transform: rotate(1deg)
    }
    30% {
        transform: rotate(-1deg)
    }
    70% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@-webkit-keyframes back {
    50% {
        top: 20px;
    }
}

/* 金尊府 样式的全局开发 */
.jzf {
    height: 100%;
}

.jzf_page {
    position: relative;
    height: 100%;
    width: 100%;
    /*background-image: url(../img/background.png);*/
    background-color: #b48e69;
    background-size: cover;
    background-repeat: no-repeat;
}

.jzf_page_face {
    width: 100%;
    height: 100%;
    background-image: url(../img/l-background.png);
}

.jzf_page_slide {
    width: 100%;
    height: 100%;
    background-image: url(../img/background.png);
}

.jzf_component_name_back {
    top: 30px;
    -webkit-animation: back 2s infinite 2s;
}

.myA {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 999;
    text-align: center;
}

.myA a {
    flex: 1 1;
    z-index: 99999;
    text-decoration: none;
}

.myA a img {
    height: 0.93rem;
}

.myB {
    width: 100px;
    height: 100%;
    position: fixed;
    z-index: 99;
    text-align: center;
}

.myB .bMessage {
    margin: 2.67rem 0rem;
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100px;
}

.myB a {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.myB a div {
    height: 1.58rem;
    width: 2.267rem;
    margin: 0.66rem 0;
    position: relative;
    left: 30px;
}

.myB a div:first-child {
    margin-top: 0;
}

.myC {
    width: 100%;
    text-align: center;
    z-index: 99;
    position: fixed;
}

.myC a {
    /*margin: 30px 25px 0 25px;*/
    /*position: absolute;*/
    margin: 0 15px;
}

.myC a img {
    width: 69px;
    height: 19px;
    position: relative;
    top: 15px;
}

.jzf_page_qw > .fp-tableCell {
    background-color: #cab37d;
}


/* music */
@-webkit-keyframes reverseRotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(-360deg);}
}
@-webkit-keyframes rotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(360deg);}
}
#musicControl { position:fixed;right:10px;top:20px;margin-top:0;display:inline-block;z-index:99999999}
#musicControl a { display:inline-block;width:25px;height:25px;overflow:hidden;background:url('../img/play.png') no-repeat;background-size:100%;}
#musicControl a audio{width:100%;height:56px;}
#musicControl a.stop { background-position:left bottom;}
#musicControl a.on { background-position:0px 1px;-webkit-animation: reverseRotataZ 1.2s linear infinite;}
#music_play_filter{width:100%;height:100%;overflow:hidden;position:fixed;top:0;left:0;z-index:99999998;}